{% extends "./base.html" %}
{% load course_custome_tags %}
{% block title %}Courses{% endblock %}
{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Sign Up</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="">
                        {% csrf_token %}
                        {{form.as_ul}}

                        <button type="submit" class="btn btn-primary">Login</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
